## SeaSnakestoSQL: Jypter Notebook

In [21]:
pip install pymysql

Requirement already satisfied: pymysql in ./anaconda3/lib/python3.11/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

If you get an error saying something like "sqlalchemy not installed", you should add a code cell and write `pip install sqlalchemy`. Then, rerun the above cell (you might also need to install pymysql the same way)

## Setting up the Tables

In [23]:
password = 'password'
db_name = 'database_name'

In [26]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [27]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [28]:
Courses = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Courses.csv")

In [29]:
table_name = 'Courses'

In [30]:
Courses.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

12

In [34]:
StudentClasses = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20StudentClasses%20(2).csv")

In [35]:
table_name2 = 'StudentClasses'

In [36]:
StudentClasses.to_sql(name=table_name2, con=connection, if_exists='replace', index=False)

60

In [37]:
Students = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Students.csv")

In [38]:
table_name3 = 'Students'

In [39]:
Students.to_sql(name=table_name3, con=connection, if_exists='replace', index=False)

16

In [40]:
Assignments = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Assignments%20(1).csv")

In [41]:
table_name4 = 'Assignments'

In [42]:
Assignments.to_sql(name=table_name4, con=connection, if_exists='replace', index=False)

52

In [43]:
Grades = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Grades%20(1).csv")

In [44]:
table_name5 = 'Grades'

In [45]:
Grades.to_sql(name=table_name5, con=connection, if_exists='replace', index=False)

240

## QUERY

We use SQL syntax for querying. The triple quotation mark syntax allows us to write commands simiar to how we did in SQL

In [ ]:
query1 = "SELECT * FROM facts"
query2 = """

SELECT * FROM facts
WHERE Favorite_Color ='Blue'

"""

In [ ]:
result_df = pd.read_sql(query1, con=connection)

In [ ]:
result_df

In [ ]:
result_df_2 = pd.read_sql(query2, con=connection)

NameError: ignored

In [ ]:
result_df_2

We can merge in PyMySQL just like in regular SQL

In [ ]:
df2 = pd.DataFrame({'_id':[1,2,3] , 'Is_Primary':[False,True,False], 'Hex_Code':['#A020F0', '#0000FF', '#00FF00']})
df2

In [ ]:
df2.to_sql(name='color_table', con=connection, if_exists='replace', index=False)

In [ ]:
query3 = """
  SELECT facts.Names, facts.Favorite_Color, color_table.Is_Primary, color_table.Hex_Code
  FROM facts
  LEFT JOIN color_table ON facts.Favorite_Color = color_table.Colors
"""

In [ ]:
result_df_3 = pd.read_sql(query3, con=connection)

In [ ]:
result_df_3