## SeaSnakestoSQL: Jupyter Notebook

This is a Jupyter Notebook that contains code to create our SQL Database for a Learning Management System. Our main goal was to create an effective relational database with the primary objective of ensuring that it could be used to calculate someone's grades. We then compared it with a MongoDB Database that we created and queried in this GitHub Repository as well.

In [ ]:
pip install pymysql

Requirement already satisfied: pymysql in ./anaconda3/lib/python3.11/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

If you get an error saying something like "sqlalchemy not installed", you should add a code cell and write `pip install sqlalchemy`. Then, rerun the above cell (you might also need to install pymysql the same way)

## Setting up the Tables

First, create a database in MySQL Workbench by running this query:

`CREATE DATABASE test_forge`

In [ ]:
password = 'ForgeIsAwesome1234'
db_name = 'test_forge'

In [ ]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [ ]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [ ]:
Courses = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Courses.csv")

In [ ]:
table_name = 'Courses'

In [ ]:
Courses.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

12

In [ ]:
StudentClasses = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20StudentClasses%20(2).csv")

In [ ]:
table_name2 = 'StudentClasses'

In [ ]:
StudentClasses.to_sql(name=table_name2, con=connection, if_exists='replace', index=False)

60

In [ ]:
Students = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Students.csv")

In [ ]:
table_name3 = 'Students'

In [ ]:
Students.to_sql(name=table_name3, con=connection, if_exists='replace', index=False)

16

In [ ]:
Assignments = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Assignments%20(1).csv")

In [ ]:
table_name4 = 'Assignments'

In [ ]:
Assignments.to_sql(name=table_name4, con=connection, if_exists='replace', index=False)

52

In [ ]:
Grades = pd.read_csv("https://raw.githubusercontent.com/methinky/forge_project2/main/test_forge%20-%20Grades%20(1).csv")

In [ ]:
table_name5 = 'Grades'

In [ ]:
Grades.to_sql(name=table_name5, con=connection, if_exists='replace', index=False)

240

## QUERY

We use SQL syntax for querying. The triple quotation mark syntax allows us to write commands simiar to how we did in SQL

This is how you can now query for someone's grades with our SQL Database!

In [ ]:
query1 = '''
SELECT s.Student_ID, a.Code, s.First_Name, s.Last_Name,
       c.Course_Name,
       SUM(g.Score * a.Weight) / SUM(a.Weight) AS CourseGrade
FROM Grades AS g
INNER JOIN Assignments a
ON g.Assignment_Id = a.Assignment_Id
INNER JOIN Courses AS c
ON a.Code = c.Code
INNER JOIN StudentClasses AS sc
ON c.Code = sc.Code
INNER JOIN Students AS s
ON sc.Student_ID = s.Student_ID
WHERE s.Student_ID = 'zds3st'
GROUP BY s.Student_ID, a.Code, s.First_Name, s.Last_Name, c.Course_Name;'''

In [ ]:
result_df = pd.read_sql(query1, con=connection)

In [ ]:
result_df